doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='/javascripts/angular.min.js')
  body
    section
      div(class='left-row')
        = ''
      article
        block content